<h1>Search Your Gifs</h1>
<form method="GET" action="search">
    <input type="text" name="searchTerm" placeholder="Please enter query">
    <div>
        <button type="submit">Search</button>
        <button type="reset">Reset</button>
    </div>
</form>